<a href="https://colab.research.google.com/github/Laghrissi0/M111-Advanced-Python-and-Database-Management/blob/main/copie_de_01_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Datatypes exercises

## Exercise 1

Write the following mathematical formula in Python:

\begin{align}
 result = 6a^3 - \frac{8b^2 }{4c} + 11
\end{align}

```python
a = 2
b = 3
c = 2
```

> write your formula as 
```python
result = 
```

It must verify
```python
>>> assert result == 50

In [ ]:
def Result(a,b,c) : 
  result = 0
  if c!= 0 :
    result = (6*a**3) - ((8*b**2)/(4*c)) + 11
  else :
    print("we can't devide by a null number")
  return result
result = Result(2,3,2)
print(result)

50.0

## Exercise 2

Explain why the folowing assertion fails

In [ ]:
print("the 0.1 and the 0.2 are float numbers their some with precision will be double also the 0.3 is float so we can't stock a double value in a float")

the 0.1 and the 0.2 are float numbers their some with precision will be double also the 0.3 is float so we can't stock a double value in a float

## Exercise 3

Write a Python program to sum all the items in a list

In [ ]:
def sum_of_list(L):
  sum = 0
  for i in L :
    sum += i
  return sum
L = [1, 3, 5, 7, 9]
sum = sum_of_list(L)
print(sum)

25

## Exercise 4

Write a program that asks how long it took to run 10 km today. The program continues to ask how long (in minutes) it took for additional runs, until the user enters q. At that point, the program exits â€” but only after calculating and displaying the average time that the 10 km run took.  


Example:
```
Enter 10 km run time: 15
Enter 10 km run time: 20
Enter 10 km run time: 10
Enter 10 km run time: q

Average of 15.0, over 3 runs
```

In [ ]:
 i = 0
 j = 0
 sum = 0
 cpt = 0
 q=0
 while True :
   i = input('Enter 10 km run time : ')
   if i == 'q':
     break
   j = int(i)
   sum = sum + j
   cpt += 1
average = sum/cpt
print(average)

Enter 10 km run time : 15
Enter 10 km run time : 20
Enter 10 km run time : 10
Enter 10 km run time : q
15.0

## Exercise 5

Write a function that takes a string and returns the sorted string.

In [ ]:
L=["c","a","b"]
k = len(L)
for i in range(k):
    for j in range(i+1,k):
        if L[i] > L[j]:
              s = L[i]
              L[i] = L[j]
              L[j] = s
print(L)

['a', 'b', 'c']

## Exercise 6

Write a function that take a string of multiple words and returns the position of the word with most repeated letters

In [ ]:
string = ['this', 'is', 'an', 'elementary', 'test', 'example']
def wwmrl(string):
    cpt = 0
    for i in string:
        d = {}
        for letter in i:
            if letter not in d:
                d[letter] = 1
            else:
                d[letter] += 1
            if d[letter]> cpt :
                cpt = d[letter]
                most_repeated = letter
                x = string.index(i)
    return x
y = wwmrl(s)
print(y)

3

## Exercise 7

1. Create a tuple
2. Unpack the tuple in multiple variables

In [ ]:
#create tuple
my_tuple = ('st', 1, 'QFM')
#print it
print(my_tuple)
#unpack it in multiple variables
x, y, z = my_tuple
print(x)
print(y)
print(z)

('st', 1, 'QFM')
st
1
QFM

## Exercise 8

Write a Python program to sort a tuple by its float element.  
Sample data: `[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]`  
Expected Output: `[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]`

In [ ]:
def Sort(tuple):
    tuple.sort(key = lambda x: float(x[1]), reverse = True)
    print(tuple)
tuple = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
Sort(tuple)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

## Exercise 9

Write a Python script to concatenate dictionaries to create a new one.

In [ ]:
#"""Sample Dictionary"""
#dic1={1:10, 2:20}
#dic2={3:30, 4:40}
#dic3={5:50,6:60}
#""""Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}"""

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Result = {}
for i in (dic1, dic2, dic3):
   Result.update(i)
print(Result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

## Exercise 10

Write a Python program to combine two dictionary adding values for common keys.

In [ ]:
#d1 = {'a': 100, 'b': 200, 'c':300}
#d2 = {'a': 300, 'b': 200, 'd':400}
#""""Sample output: {'a': 400, 'b': 400, 'd': 400, 'c': 300}"""

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3 = {}
d3 = dict(d1)
d3.update(d2) 
for i, j in d1.items():
    for x, y in d2.items():
        if i == x:
            d3[i]=(j+y)
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

## Exercise 11

Write a Python program to extract values from a given dictionaries and create a list of lists from those values.

Original Dictionary:  
`[{'student_id': 1, 'name': 'Jean Castro', 'class': 'V'}, {'student_id': 2, 'name': 'Lula Powell', 'class': 'V'}, {'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'}, {'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'}, {'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}]`  
Output:  
`[[1, 'Jean Castro', 'V'], [2, 'Lula Powell', 'V'], [3, 'Brian Howell', 'VI'], [4, 'Lynne Foster', 'VI'], [5, 'Zachary Simon', 'VII']]`

In [ ]:
#data = [{'student_id': 1, 'name': 'Jean Castro', 'class': 'V'}, {'student_id': 2, 'name': 'Lula Powell', 'class': 'V'}, {'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'}, {'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'}, {'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}]

def test(dict0, N):
    return [list(d[k] for k in N) for d in dict0] 
data = [{'student_id': 1, 'name': 'Jean Castro', 'class': 'V'}, {'student_id': 2, 'name': 'Lula Powell', 'class': 'V'}, {'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'}, {'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'}, {'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}]
print("\n",test(data,('student_id', 'name', 'class')))

 [[1, 'Jean Castro', 'V'], [2, 'Lula Powell', 'V'], [3, 'Brian Howell', 'VI'], [4, 'Lynne Foster', 'VI'], [5, 'Zachary Simon', 'VII']]